/* 기본 스타일 설정 */
.touch-device {
  display: none; /* 터치 디바이스가 아닌 경우 숨김 */
}

.untouch-device {
  display: block; /* 기본적으로 표시 */
}

@font-face {
  font-family: 'GowunDodum';
  src: url('./assets/font/GowunDodum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMJUA_ttf';
  src: url('./assets/font/BMJUA_ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* BMJUA 폰트 클래스 */
.bmjuaclass {
  font-family: 'BMJUA', sans-serif; 
}

html, body {
  margin: 0; 
  padding: 0; /*padding,margin 설정해야 모바일에서 양쪽 빈공간 안생김*/
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* 좌우 스크롤 제거 */
  background-color: #ffffff; /* 외부 영역 색 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'GowunDodum', sans-serif;  /* 폰트 설정*/
}

button {
  font-family: 'GowunDodum', sans-serif;
}

/* 콘텐츠 영역 설정 */
#app {
  width: 412px; /*100%로 해두면 글자 적어지면 작아져서 px로 변경했습니다*/
  max-width: 412px; /* 피그마 페이지 기준으로 설정 */
  min-height: 100vh;
  background-color:  #F0EBE4; /* 내부 콘텐츠 영역 배경색 */
  overflow-x: hidden; /* 좌우 스크롤 방지 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 1rem; /*상단 여백 : 얼만큼 줘야될지 아직 명확하지 않음 : header 완성되는거 보고 조정 필요*/
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; /* 고정된 도형 표현 이슈로 z-index 값 부여 */
}

/* 터치 디바이스 스타일 */
@media (pointer: coarse) {
  body {
    background-color: #ffffff; /* 터치 디바이스 배경색 */
  }

  #app {
    padding-top: 0.5rem; /* 터치 디바이스에서의 상단 여백 조정 */
  }
}

/* 비터치 디바이스 스타일 */
@media (pointer: fine) and (hover: hover) {
  body {
    background-color:#E1C9A9C2; /* 비터치 디바이스 배경색 */
  }

  #app {
    padding-top: 1rem; /* 비터치 디바이스에서의 상단 여백 유지 */
  }
}